# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
 bot/.env
*.env

# SQLite Databases
*.db
*.sqlite
*.sqlite3
db.sqlite3
bot/data/*.db
bot/data/*.sqlite
*.db-journal

# Jupyter Notebook
.ipynb_checkpoints

# VSCode / IDEs
.vscode/
.idea/
*.swp
*.swo

# Tools
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
